<h1>ID: {{bookinstance._id}}</h1>

<p><strong>Title:</strong>
    <a href={{bookinstance.book.url}}> {{bookinstance.book.title}}</a>
</p>

<p><strong>Imprint:</strong> {{bookinstance.imprint}}</p>

<p><strong>Status:</strong>
    {{#if (isAvailable bookinstance.status)}}
    <span class="text-success">{{bookinstance.status}}</span>
    {{else}}
        {{#if (isMaintenance bookinstance.status)}}
        <span class="text-danger">{{bookinstance.status}}</span>
        {{else}}
        <span class="text-warning">{{bookinstance.status}}</span>
        {{/if}}
    {{/if}}

    {{#unless (isAvailable bookinstance.status)}}
    <p><strong>Due back:</strong> {{bookinstance.due_back_formatted}}</p>
    {{/unless}}
</p>
<hr>
<p>
    <a href={{concat bookinstance.url '/delete'}}>Delete Book Instance</a>
</p>
<p>
    <a href={{concat bookinstance.url '/update'}}>Update Book Instance</a>
</p>